<h1>Characters</h1>


<% @characters.each do |character| %>
  <p>
    <span><%= link_to character.alias, character_path(character), method: :get  %></span>
    <span><%= character.first_name %></span>
    <span><%= character.last_name %></span>
  </p>
<% end %>